<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="org.clever.template.mapper.PermissionMapper">
    <update id="updateCurrentValue">
        update
            auto_increment_id
        set
            current_value=current_value+#{step}
        where company_flag=#{companyFlag} and business_type=#{businessType} and prefix=#{prefix}
    </update>

    <select id="findByPage" flushCache="true" resultType="org.clever.template.entity.Permission">
        select * from permission
        <where>
            <if test="query.sysName!=null and query.sysName!=''">
                and sys_name = #{query.sysName}
            </if>
            <if test="query.title!=null and query.title!=''">
                and title = #{query.title}
            </if>
            <if test="query.permissionStr!=null and query.permissionStr!=''">
                and permission_str = #{query.permissionStr}
            </if>
        </where>
        <!--ORDER BY sys_name-->
    </select>

<!--    <parameterMap id="NextIdMap" type="org.clever.template.model.NextId">-->
<!--        <parameter property="companyFlag" mode="IN" jdbcType="varchar"/>-->
<!--        <parameter property="businessType" mode="IN" jdbcType="varchar"/>-->
<!--        <parameter property="prefix" mode="IN" jdbcType="varchar"/>-->
<!--        <parameter property="step" mode="IN" jdbcType="bigint"/>-->
<!--        <parameter property="oldValue" mode="OUT" jdbcType="bigint"/>-->
<!--        <parameter property="currentValue" mode="OUT" jdbcType="bigint"/>-->
<!--    </parameterMap>-->

    <insert id="nextId" statementType="CALLABLE" parameterType="org.clever.template.model.NextId">
        call auto_increment_id_next(
                #{nextId.companyFlag, mode=IN, jdbcType=VARCHAR},
                #{nextId.businessType, mode=IN, jdbcType=VARCHAR},
                #{nextId.prefix, mode=IN, jdbcType=VARCHAR},
                #{nextId.step, mode=IN, jdbcType=BIGINT},
                #{nextId.oldValue, mode=OUT, jdbcType=BIGINT},
                #{nextId.currentValue, mode=OUT, jdbcType=BIGINT}
            )
    </insert>
</mapper>