<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="org.clever.template.mapper.PermissionMapper">

    <select id="findByPage" resultType="org.clever.template.entity.Permission">
        select * from permission
        <where>
            <if test="query.sysName!=null and query.sysName!=''">
                and sys_name = #{query.sysName}
            </if>
            <if test="query.title!=null and query.title!=''">
                and title = #{query.title}
            </if>
            <if test="query.permissionStr!=null and query.permissionStr!=''">
                and permission_str = #{query.permissionStr}
            </if>
        </where>
    </select>
</mapper>